<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.visiontek.Mantra">

    <uses-feature
        android:name="android.hardware.usb.host"
        android:configChanges="locale"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CLOUDPOS_PRINTER_ADAPTER" />
    <uses-permission android:name="android.permission.CLOUDPOS_PRINTER" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CLOUDPOS_CLONESCREEN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:label="@string/app_name" />

    <application
        android:name=".Utils.BaseApp"
        android:allowBackup="true"
        android:icon="@drawable/clogo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/clogo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.FusionFingerSectionActivity"></activity>
        <!--         <activity android:name=".Activities.CumulativeStockReportActivity"></activity> -->
        <activity
            android:name=".Activities.FTPActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.RHMSActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.USBActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.BaseActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.SuccessActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.RC_CommodityDetails"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.RC_MemberDetails"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.IMPDSActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.DealerAuthenticationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.BeneficiaryDetailsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Get_Card_Status"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.offlineRecvGoods"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.offlineRecvNew"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.StockReportActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.CumulativeStockReportActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.DailySalesReportActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.UIDDetailsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.BeneficiaryVerificationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.AadhaarSeedingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.DeviceActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.InspectionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.ReportsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.ReceiveGoodsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.AadhaarServicesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.IssueActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.DeviceInfoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Device_Update"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.DeviceParametersActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.OfflineRationCardStatusActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.SettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.OfflineRcNumbers"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.PrintActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.RationDetailsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.HomeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.MemberDetailsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.StartActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.DealerDetailsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.CashPDSActivity"
            android:screenOrientation="landscape" />

        <service
            android:name=".Utils.UsbService"
            android:enabled="true" />
        <service
            android:name=".Services.Rhmservice"
            android:enabled="true"
            android:stopWithTask="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>