<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.visiontek.Mantra">

    <uses-feature
        android:name="android.hardware.usb.host"
        android:configChanges="locale"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:label="@string/app_name" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/clogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/clogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.SuccessActivity"
            android:screenOrientation="landscape" ></activity>
        <activity android:name=".Activities.RC_CommodityDetails"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.RC_MemberDetails"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.IMPDSActivity"
            android:screenOrientation="landscape">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".Activities.DealerAuthenticationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.BeneficiaryDetailsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.StockReportActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.DailySalesReportActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.UIDDetailsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.BeneficiaryVerificationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.AadhaarSeedingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.DeviceActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.InspectionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.ReportsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.OthersActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.ReceiveGoodsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.AadhaarServicesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.IssueActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.DeviceInfoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Device_Update"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.SettingActivity"
            android:screenOrientation="landscape">

            <!--
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />

               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
            -->

        </activity>
        <activity
            android:name=".Activities.PrintActivity"
            android:screenOrientation="landscape">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Activities.RationDetailsActivity"
            android:screenOrientation="landscape">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Activities.HomeActivity"
            android:screenOrientation="landscape">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Activities.MemberDetailsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.StartActivity"
            android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.DealerDetailsActivity"
            android:screenOrientation="landscape">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Activities.CashPDSActivity"
            android:screenOrientation="landscape">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <service
            android:name=".Utils.UsbService"
            android:enabled="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>